.container {
    width: fit-content;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container>* {
    margin: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        justify-content: center;
    }
}