.container {
    max-width: 600px;
    margin: 10px auto;
    font-family: 'Noto Sans SC';
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 6px;
    caret-color: gray;
    font-size: 16px;
    transform: all 0.5s;
}

.input:focus {
    outline: #3498db 2px solid;
}

.input::placeholder {
    padding-left: 5px;
}

.title::before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    border-left: 4px #3498db solid;
    margin-right: 7.5px;
}

.title {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.button {
    display: inline-flex;
    border: none;
    height: 40px;
    margin: 10px 5px;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    cursor: pointer;
}

.button+.button {
    background-color: whitesmoke;
    color: #3498db;
}

@media (prefers-color-scheme: dark) {
    .button+.button {
        background-color: #2c3e50;
        color: #3498db;
    }
}